
body {
  padding: 50px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige; 
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}
 