<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <main> 
        <h2>Enter a New Flight Information</h2>
        <form id="new-form" action="/flights" method="POST">
            <label>Airline:
                <input type="text" name="airline">
            </label><br>
            <label>Flight Number:
                <input type="text" name="flightNo">
                </label><br>
            <label>Departs:
                <input type="datetime-local" name="departs">
            </label><br>
            <input type="submit" value="Add Flight">
        </form>
    </main>
</body>
</html>